.nav {
  display: flex;
  justify-content: space-between;
  background-color  #800080;
  color: white;
  padding: 2px 5%;
  align-items: center;
}
.spotify-logo {
  width: 100px;
}
.logo {
  flex: 0.8;
}
.btn {
  flex: 0.8;
  display: flex;
  justify-content: flex-end;
}
.link {
  display: flex;
  
  justify-content: center;
  align-items: center;
/* background-color: aquamarine; */
  flex: 2;
}
.contact {
  background-color:teal;
  border: 0px;
  padding: 10px 28px;
  border-radius: 20px;
  color: red;
  cursor: pointer;
  
}
.link-a {

  color: white;
}
